<h1> New Invite </h1>

<%= form_for @invite do |f| %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :time %>
  <%= f.text_field :time %>
  <br>
  <br>

  <%= f.submit class: "btn btn-primary" %>
<% end %>







