<h1> New Invite </h1>


  <% @invite_contact.each do |a| %>
     <%= User.find_by_id(a).name %>
  <% end %>
<br>

<%= form_for @invite, url: invites_path(@invite, :users => @invite_contact) do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :time %>
  <%= f.time_field :time %>
  <br>

  <br>

  <%= f.submit class: "btn btn-primary" %>
<% end %>









