
<h1>Pending Invite</h1>

<ul class="nav nav-pills">
  <li><%= link_to 'Confirm', "#" %></li>
  <li><%= link_to 'Decline', "#" %></li>
  <li><%= link_to 'Reschedule', "#" %></li>
</ul>

<div class="row">
  <div class="col-md-3">
    <p class="lead"><%= @invite.time.strftime("%l:%M %p") %></p>
    <p class="text-info"><%= @invite.date.strftime("%a, %b %e") %></p>
    <p class="text-info"><%= @invite.address %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Who's invited</h2>
    <% @invite.users.each do |u| %>
      <p><%= u.name %></p>
    <% end %>
  </div>
</div>