<div class="centered">
<% if @user.nil? %>

  <p>No user found. <a href="/newcontact">Return to search</a></p>

<%elsif current_user.users.include?(@user) %>

  <h3> You've already added this user! </h3>
		<%=@user.username%><br>
		<%= @user.name %>


<% else%>

  <%=@user.username%><br>
  <%= @user.name %> <a href="/updatecontact/<%= @user.id %>"><button>Add</button></a><br>
  <%=@user.email %>
<% end%>


</div>