<h1> Your contact <%@user.name%></h1>
<label>Username: </label><%= @user.username %><br>
<label>Name: </label><%= @user.name %><br>
<label>Phone: </label><%= @user.phone %><br>
<label>Email: </label><%= @user.email %><br>
<label>Bio: </label><%= @user.bio %>

