



<h1 id="app_name">PowWow</h1>


<div id="contacts" class="hidden">
	<h1>contacts </h1>
	<ul>
		<% @contacts.each do |contact| %>
			<div> 
				<a href="#">
					<p> <%=contact.name %> </p>
					<p> <%=contact.email %></p>
				</a>
			</div>
		<%end%> 
	</ul>
</div>


<div class="hidden" id="invites">
	<a id="inc" href="#">incoming</a>
	<a id="out" href="#">outgoing</a>
	<div id="incoming">
	<%@incoming.each do |msg| %>
	<li> <%=msg.address%></li>
	<li> <%=msg.time%></li>
	<%end%>
	</div>
	<div class="hidden" id="outgoing">
	<%@outgoing.each do |msg| %>
	<li> <%msg.address %></li>
	<li> <%msg.time %></li>
	<%end%>
	</div>
</div>

<div class="meets">
<%=link_to "New Meet", new_invite_path %>
<h1> Your Scheduled Meet-Ups </h1>

<% @meets.each do |meet| %>
     <div>
	     <a href="#">
		      <p ><%= meet.address %></p>
		      <p ><%= meet.time %></p>
		      <p ><%= meet.users.first %></p>
	      </a>
    </div>
<% end %>
</div>
<br>

<div id="profile" class="hidden">
<h1>Your PowWow Account</h1>
<label>Username: </label><%= @user.username %><br>
<label>Your Name: </label><%= @user.name %><br>
<label>Your Email: </label><%= @user.email %><br>
<label>Your Phone: </label><%= @user.phone %><br>
<%=link_to "Sign out", destroy_user_session_path, method: "delete" %>
</div>


<div>
<ul class="nav">
<li><a id="pbtn" href="#">Profile</a></li>
<li><a id="ibtn" href="#">Invites</a></li>
<li><a id="ebtn" href="#">Events</a></li>
<li><a id="cbtn" href="#">Contacts</a></li>
</ul>
</div>