



<h1 id="app_name">PowWow</h1>


<div id="contacts" class="hidden">
	<h1>contacts </h1>

	<button><a href="/newcontact">Add contact</a></button>
	<ul>
		<% @contacts.each do |contact| %>
			<div> 
				<a href="#">
					<p> <%=contact.name %> </p>
					<p> <%=contact.email %></p>
				</a>
			</div>
		<%end%> 
	</ul>
</div>

<div class="hidden" id="invites">
	<a id="inc" href="#">incoming</a>
	<a id="out" href="#">outgoing</a>
	<div id="incoming">
		<ul>
			<% @incoming.each do |msg| %>
				<li> <%= msg.address%></li>
				<li> <%= msg.time.strftime("%l:%M %p") %></li>
				<li> <%= msg.date.strftime("%a, %b %e") %></li>
			<%end%>
		</ul>
	</div>
	<div class="hidden" id="outgoing">
		<ul>
			<% @outgoing.each do |msg| %>
				<li> <%= msg.address %></li>
				<li> <%= msg.time.strftime("%l:%M %p") %></li>
				<li> <%= msg.date.strftime("%a, %b %e") %></li>
			<%end%>
		</ul>
	</div>
</div>

<div class="meets">
<%=link_to "New Meet", "/contacts" %>
<h1> Your Scheduled Meet-Ups </h1>

<% @meets.each do |meet| %>
     <div>
	     <a href="#">
		      <p ><%= meet.address %></p>
		      <p ><%= meet.time.strftime("%l:%M %p") %></p>
		      <p ><%= meet.users.first %></p>
	      </a>
    </div>
<% end %>
</div>
<br>

<%=link_to "Sign out", destroy_user_session_path, method: "delete" %>


<div>
<ul class="nav">
<li><a id="ibtn" href="#">Invites</a></li>
<li><a id="ebtn" href="#">Events</a></li>
<li><a id="cbtn" href="#">Contacts</a></li>
</ul>
</div>