<div class="s_inc_inv">
{{address}}<br>
{{showdate}}<br>
{{showtime}}<br>

<br>
<br>
<div class="mapstyle" id="map-canvas-{{id}}"></div>

<input class="conf_inv" data-id={{id}} type="submit" value="Confirm">
<input class="decl_inv" data-id={{id}} type="submit" value="Decline">

<input class="upd_inv" data-id={{id}} type="submit" value="Reschedule">


</div>
