<div class="centered ind_meet" data-id={{id}}>  
		      <p class="address">{{address}}</p>
		      {{showdate}} {{showtime}}<br>
		     {{#each users}}
   			  {{this.name}}<br>
			{{/each}}


<div class="mapstyle" id="map-canvas-{{id}}"></div>
<input class="decl_meet" data-id={{id}} type="submit" value="Cancel">
    	</div>