
     	<div class="meet" data-id={{id}}>  
		    <div class="datetime"> 
  		    <span>{{showdate}}<br></span>
          <span class="time">{{showtime}}</span>
		    </div>

        <div class="users">
          <span>
            {{#each users}}
            {{this.name}}<br>
            {{/each}}
          </span>
        </div>

		    <div class="address">
  		    <span>
            {{address}}<br>
		      </span>
			  </div>
    	</div>

