
     	<div class="meet">  
     	<a href="/meets/{{id}}">
		      <p class="address">{{address}}</p>
		      {{showdate}} {{showtime}}<br>
		     {{#each users}}
   			  {{this.name}}<br>
			{{/each}}
		     </a>
    	</div>
