
     	<div class="meet">  
     	<a href="/meets/{{id}}">
		      <p>{{address}}</p>
		      {{date}}
		      {{time}}
		     {{#each users}}
   			  {{this.name}}<br>
			{{/each}}
		     </a>
    	</div>
