	<div class="out_invite" data-id={{id}}>
		<hr>
		    <div class="datetime"> 
		    <span>{{showdate}}<br><br>{{showtime}}</span>
		    </div>
		    <div class="addressusers">
		    <span> {{address}}<br><br>
		     {{#each users}}
   			 {{this.name}}<br>
			{{/each}}</span>
			</div>
	</div>
