<div class="s_out_inv">
{{address}}<br>
{{showdate}}<br>
{{showtime}}<br>

<br>
<br>

<div class="mapstyle" id="map-canvas-{{id}}"></div>

<input class="decl_inv" data-id={{id}} type="submit" value="Cancel">
</div>