<div id="profile" class="centered">
<h1>Your Powow Account</h1>
<label>Username: </label>{{username}}<br>
<label>Your Name: </label>{{name}}<br>
<label>Your Email: </label>{{email}}<br>
<label>Your Phone: </label>{{phone}}<br><br>
<label>Bio: </label>{{bio}}<br><br>


<button id="addbio">Add bio</button> <br><br>


<input class="signout" type="submit" value="Sign Out">
<br>
<br>

</div>

