<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<link href='/assets/ASansreg.ttf' rel='stylesheet' type='text/css'>
 <script src="http://momentjs.com/downloads/moment.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvHawiMNKSViHecR02Ns3b0aBjqNSzNvk&sensor=false"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
<%if user_signed_in? %>
<element id="user_id" data-id="<%=current_user.id%>"></element>
<%end%>
<h1 id="app_name">Powow</h1>

<p class="notice"> <%=notice %> </p>
<p class="alert"> <%=alert %> </p>

<%= yield %>
<!-- <div id="map-canvas"></div> -->
<div>
<ul class="nav">
<li><a id="pbtn" href="#">Profile</a></li>
<li><a id="ibtn" href="#">Invites</a></li>
<li><a id="ebtn" href="#">Events</a></li>
<li><a id="cbtn" href="#">Contacts</a></li>
</ul>
</div>
</body>
</html>
